{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

{% include 'AppBundle::flashes.html.twig' %}

<div class="row">
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {% for banner in range(0, 0) %}
        <li data-target="#carousel" data-slide-to="{{ banner }}" {% if banner == 0 %}class="active"{% endif %}></li>
      {% endfor %}
    </ol>

    <!-- Carousel items -->
    <div class="carousel-inner" role="listbox">
      {% for banner in range(1, 1) %}
      <div class="item {% if banner == 1 %}active{% endif %}">
        <img src="{{ asset('build/img/homepage/carousel/banner-'~banner~'.jpg') }}" alt="">
        {% if banner == 1 %}
          <div class="carousel-caption"><h2>Symfony Force Edition</h2></div>
        {% endif %}
      </div>
      {% endfor %}
    </div>

    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div id="testimonials" class="row col-sm-8 col-sm-offset-2">
  <blockquote>
    <div class="row">
      <div class="col-sm-2 text-center">
        <img class="img-circle" src="{{ asset('build/img/homepage/testimonials/yoda.jpg') }}" style="width: 100px;height:100px;">
      </div>
      <div class="col-sm-6">
        <p>Making repository interfaces I was to run my <strong>Behat</strong> tests faster before. Without any change <strong>85% faster</strong>
        now they run.</p>
        <small>Yoda</small>
      </div>
    </div>
  </blockquote>

  <blockquote>
    <div class="row">
      <div class="col-sm-offset-4 col-sm-6 text-right">
        <p>it is not big enough for Deathstar enterprise software and it does not run on Windows!?</p>
        <small>Darth Vader</small>
      </div>
      <div class="col-sm-2 text-center">
        <img class="img-circle" src="{{ asset('build/img/homepage/testimonials/vader.jpg') }}" style="width: 100px;height:100px;">
      </div>
    </div>
  </blockquote>

  <blockquote>
    <div class="row">
      <div class="col-sm-2 text-center">
        <img class="img-circle" src="{{ asset('build/img/homepage/testimonials/chewbacca.jpg') }}" style="width: 100px;height:100px;">
      </div>
      <div class="col-sm-6">
        <p>RRRAARRWHHGWWR sherlock. And there can be only a single main transaction during the request.</p>
        <small>Chewbacca</small>
      </div>
    </div>
  </blockquote>

  <blockquote>
    <div class="row">
      <div class="col-sm-offset-4 col-sm-6 text-right">
        <p>My drones cannot smuggle space heroin, all database changes are audited.</p>
        <small>General Grievous</small>
      </div>
      <div class="col-sm-2 text-center">
        <img class="img-circle" src="{{ asset('build/img/homepage/testimonials/grievous.png') }}" style="width: 100px;height:100px;">
      </div>
    </div>
  </blockquote>
</div>

<div class="clearfix"></div>

{% endblock %}
