{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
  <h1>
    Email templates
    <a href="{{ url('admin_mailtemplate_new') }}" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Add new template</a>
  </h1>

  {% include 'AppBundle::flashes.html.twig' %}

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-envelope"></i> Email templates</h3>
    </div>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>{{ sorter_link(templates, 't.alias', 'Alias') }}</th>
          <th>{{ sorter_link(templates, 't.subject', 'Subject') }}</th>
          <th>{{ sorter_link(templates, 't.updatedAt', 'Last updated') }}</th>
          <th></th>
        </tr>
        <tr role="row" class="filter">
          <td></td>
          <td>{{ filter_search(templates, "t.alias") }}</td>
          <td>{{ filter_search(templates, "t.subject") }}</td>
          <td>{{ filter_search(templates, "t.updatedAt") }}</td>
        </tr>
      </thead>
      <tbody>
        {% for template in templates %}
          <tr>
            <td class="col-min">{{ template.id }}</td>
            <td>{{ template.alias }}</td>
            <td>{{ template.subject }}</td>
            <td>{{ template.createdAt|date }}</td>
            <td class="col-min">
              <a href="{{ url('admin_mailtemplate_edit', {id: template.id}) }}" class="btn btn-xs btn-link" data-title="Edit" data-toggle="tooltip">
                <i class="fa fa-search"></i>
              </a>
              <a href="{{ url('admin_mailtemplate_delete', {id: template.id}) }}" class="btn btn-xs btn-link js-confirm" data-title="Delete" data-toggle="tooltip">
                <i class="fa fa-times"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="panel-footer">
      {{ pagination(templates) }}
    </div>
  </div>
{% endblock %}
