{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
  <h1>
    {{ 'user.index.title'|trans }}
    <a href="{{ url('admin_user_new') }}" class="btn btn-success pull-right"><i class="fa fa-plus"></i> {{ 'user.index.new'|trans }}</a>
  </h1>

  {% include 'AppBundle::flashes.html.twig' %}

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-users"></i> {{ 'user.index.title'|trans }}</h3>
    </div>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>{{ sorter_link(users, 'u.email', 'user.index.email'|trans) }}</th>
          <th>{{ sorter_link(users, 'u.firstname', 'user.index.name'|trans) }}</th>
          <th>{{ sorter_link(users, 'u.createdAt', 'user.index.registered_on'|trans) }}</th>
          <th></th>
        </tr>
        <tr role="row" class="filter">
          <td></td>
          <td>{{ filter_search(users, "u.email") }}</td>
          <td>{{ filter_search(users, "u.firstname") }}</td>
          <td>{{ filter_search(users, "u.createdAt") }}</td>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td class="col-min">{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.fullName }}</td>
            <td>{{ user.createdAt|date }}</td>
            <td class="col-min">
              <a href="{{ url('admin_user_edit', {id: user.id}) }}" class="btn btn-xs btn-link" data-title="{{ 'title.edit'|trans }}" data-toggle="tooltip">
                <i class="fa fa-search"></i>
              </a>
              <a href="{{ url('admin_user_delete', {id: user.id}) }}" class="btn btn-xs btn-link js-confirm" data-title="{{ 'title.delete'|trans }}" data-toggle="tooltip">
                <i class="fa fa-times"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="panel-footer">
      {{ pagination(users) }}
    </div>
  </div>
{% endblock %}
