{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
  <h1>{{ 'user.new.title'|trans }}</h1>

  {% include 'AppBundle::flashes.html.twig' %}

  {{ form_errors(form) }}
  {{ form_start(form) }}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-user"></i> {{ 'user.new.enter_details'|trans }}</h3>
    </div>
    <div class="panel-body">
      {{ form_rest(form) }}
    </div>
    <div class="panel-footer text-center">
      <button type="submit" class="btn btn-primary">{{ 'button.save'|trans }}</button>
      <a href="{{ url('admin_user_index') }}" class="btn btn-default">{{ 'button.cancel'|trans }}</a>
    </div>
  </div>
  {{ form_end(form) }}
{% endblock %}
