{% extends 'AppBundle::layout.html.twig' %}

{% set title = "Login" %}

{% block content %}

{% include 'AppBundle::flashes.html.twig' %}
{% if error %}
  <div class="alert alert-danger">
      <span class="fa fa-exclamation-circle"></span> {{ error }}
  </div>
{% endif %}

<div class="well content">

  <div class="page-header">
    <h1>{{ title }}</h1>
  </div>

  <form action="{{ path("app_user_check") }}" method="post" class="form-horizontal" novalidate>
    <input type="hidden" name="_csrf_user_login" value="{{ csrf_token('_app_user_login') }}" />
    <div class="form-group">
      <label for="username" class="col-sm-3 control-label required">Username</label>
      <div class="col-sm-7">
        <input type="text" id="username" name="_username" value="{{ lastUsername }}" class="form-control" placeholder="Username">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-3 control-label required">Password</label>
      <div class="col-sm-7">
        <input type="password" id="password" name="_password" class="form-control" placeholder="Password" />
      </div>
    </div>
    <div class="col-sm-offset-3 col-sm-9">
      <a href="{{ path('app_user_reset') }}">Forgot username or password?</a>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-4">
        <button type="submit" name="_submit" id="_submit" class="btn btn-primary btn-lg">Login</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
