{% extends 'AdminBundle::layout.html.twig' %}

{% block content -%}
  <h1>Edit CMS block</h1>

  {% include 'AppBundle::flashes.html.twig' %}

  {{ form_errors(form) }}
  {{ form_start(form) }}
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-cms"></i> {{ entity.alias }}
    </div>
    <div class="panel-body">
      {{ form_rest(form) }}
    </div>
    <div class="panel-footer text-center">
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="{{ url('admin_cms_index') }}" class="btn btn-default">Cancel</a>
    </div>
  </div>
  {{ form_end(form) }}
{% endblock %}
